.header {
  width: 100%;
  background-color: rgb(250, 130, 142);
  color: rgb(252, 252, 252);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2vw;
  padding-bottom: 2vw;
}

#main_tog {
  width: 10vw;
  font-size: 1.4vw;
}

#fav_tog {
  width: 10vw;
  font-size: 1.4vw;
}

.a:link {
  text-decoration: none;
}
